<div class="product3">
    <div class="content-left">
        <i class="fas fa-bars"></i>
        <div class="logo">
            <p>B</p>
            <h5>Supervisor</h5>
        </div>
        <div class="container">
            <i class="fa fa-home" style="font-size:24px">
                <p>Home</p>
            </i>
            <i class="fa fa-user" style="font-size:24px">
                <p>Employee</p>
            </i>
            <i class='fas fa-file' style='font-size:24px'>
                <p>Project</p>
            </i>
            <i class='fas fa-pen' style='font-size:24px'>
                <p>Skills</p>
            </i>
            <i class="fa fa-group" style="font-size:24px">
                <p>Interns</p>
            </i>
            <i class="fa fa-bookmark" style="font-size:24px">
                <p>Topics</p>
            </i>
            <i class="fa fa-book" style="font-size:24px">
                <p>Courses</p>
            </i>
            <i class="fa fa-bookmark" style="font-size:24px">
                <p>Topics_Courses</p>
            </i>
            <i class='fas fa-copy' style='font-size:24px'>
                <p>Classes</p>
            </i>
        </div>
    </div>
    <div class="content-center">
        <a href="#">Home</a>
        <p>/ Skills</p>
    </div>
    <div class="head-left">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar" href="#" style="color: black;">Show</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10
            </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
            </div>
            <a class="navbar" href="#" style="color: black;">entries</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Excel</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">PDF</button>
                    <i class="fa fa-search-plus" style="font-size:24px"></i>
                    <input class="form-control mr-sm-2" type="search" placeholder="     Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">+ Add Employee</button>
                </form>
            </div>
          </nav>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cong</td>
            <td>Ngo</td>
            <td>ntcong@tma.com.vn</td>
            <td id="icon"><i class="fas fa-info"></i><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Thuy</td>
            <td>Thanh</td>
            <td>aa@gmail.com</td>
            <td id="icon"><i class="fas fa-info"></i><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Thanh</td>
            <td>Thuy</td>
            <td>thanhthuy@gmail.com</td>
            <td id="icon"><i class="fas fa-info"></i><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Qui</td>
            <td>tran</td>
            <td>quitran@tma.com.vn</td>
            <td id="icon"><i class="fas fa-info"></i><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
          </tr>
          <tr>
                <th scope="row">5</th>
                <td>Nguyen</td>
                <td>Tran</td>
                <td>ttnguyen@tma.com.vn</td>
                <td id="icon"><i class="fas fa-info"></i><i class="fas fa-pen"></i><i class="fas fa-trash"></i></td>
              </tr>
        </tbody>
      </table>
      <nav class="nav">
            <a class="nav-link active" href="#">Showing1 to 5 of 5 Employees</a>
            <div class="button-right">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">1</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-chevron-right"></i></button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button>
                </div>
      </nav>
</div>