.card{
    margin: 40px;
}
.head-left{
    position: relative;
    right: 5%;
}
.head-left h5{
    display: inline;
    padding-right: 20%;
}
.table input{
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}
.table img{
    width: 80px;
    height: 50px;
}