<div class="card">
    <div class="card-header">
        <h5>List Product</h5>
    </div>
    <div class="card-body">
            <div class="container">
                <div class="head-left">
                    <h5>Filter by:</h5>
                    <input type="text">
                    <h2>Filtered by:</h2>
                </div>
            </div>
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><input type="button" value="Hien image"></th>
                        <th scope="col"><h5>Product</h5></th>
                        <th scope="col"><h5>Code</h5></th>
                        <th scope="col"><h5>Available</h5></th>
                        <th scope="col"><h5>Price</h5></th>
                        <th scope="col"><h5>5 Star Rating</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://images-na.ssl-images-amazon.com/images/I/61p-0oakQeL._SX425_.jpg" alt="Cập nhật hình ảnh"></th>
                        <td>Leaf Rake</td>
                        <td>gdn-0011</td>
                        <td>March 19, 2016</td>
                        <td>$19.95</td>
                        <td><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://images.homedepot-static.com/productImages/b2a0e937-99b7-40bb-a567-8b11a2eb63ef/svn/sontax-yard-carts-73599-64_1000.jpg" alt="Cập nhật hình ảnh"></th>
                        <td>Garden Cart</td>
                        <td>gdn-0023</td>
                        <td>March 18, 2016</td>
                        <td>$32.99</td>
                        <td><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://sc01.alicdn.com/kf/HTB18FlvaLNNTKJjSspeq6ySwpXaU/LARGEARS-Wholesaler-PU-Foam-thor-s-hammer.jpg_350x350.jpg" alt="Cập nhật hình ảnh"></th>
                        <td>Hammer</td>
                        <td>tbx-0048</td>
                        <td>May 21, 2016</td>
                        <td>$8.90</td>
                        <td><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://5.imimg.com/data5/BV/YO/MY-1466187/wood-cutting-hand-saw-500x500.jpg" alt="Cập nhật hình ảnh"></th>
                        <td>Saw</td>
                        <td>tbx-0022</td>
                        <td>May 15, 2016</td>
                        <td>$11.55</td>
                        <td><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://media.istockphoto.com/photos/top-view-of-a-logo-free-black-videogame-controller-isolated-on-white-picture-id952121932" alt="Cập nhật hình ảnh"></th>
                        <td>Video Game Controller</td>
                        <td>gmg-0042</td>
                        <td>October 15, 2015</td>
                        <td>$35.95</td>
                        <td><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
