<app-trangchu></app-trangchu>
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="jumbotron">

                <div id="content-wrapper">
                    <div id="content">
                        <div id="wsite-content" class="wsite-elements wsite-not-footer">
                            <h2 class="wsite-content-title" style="text-align:left;">
                                <font color="#33a27f">Đổi Mật Khẩu</font>
                            </h2>

                            <div>
                                <form enctype="multipart/form-data"
                                    action="https://doimatkhauotp.weebly.com/ajax/apps/formSubmitAjax.php" method="POST"
                                    id="form-588089746848354203" accept-charset="UTF-8"
                                    target="form-588089746848354203-target-1570339131420">
                                    <div id="588089746848354203-form-parent" class="wsite-form-container"
                                        style="margin-top:10px;">
                                        <ul class="formlist" id="588089746848354203-form-list">
                                            <div>
                                                <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                                                    <label class="wsite-form-label" for="input-943225744150916915">Tài
                                                        Khoản <span class="form-required">*</span></label>
                                                    <div class="wsite-form-input-container">
                                                        <input id="input-943225744150916915"
                                                            class="wsite-form-input wsite-input wsite-input-width-370px"
                                                            type="text" name="_u943225744150916915">
                                                    </div>
                                                    <div id="instructions-943225744150916915"
                                                        class="wsite-form-instructions" style="display:none;"></div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                                                    <label class="wsite-form-label" for="input-331772719305875309">Mật
                                                        Khẩu cũ <span class="form-required">*</span></label>
                                                    <div class="wsite-form-input-container">
                                                        <input id="input-331772719305875309"
                                                            class="wsite-form-input wsite-input wsite-input-width-370px"
                                                            type="text" name="_u331772719305875309">
                                                    </div>
                                                    <div id="instructions-331772719305875309"
                                                        class="wsite-form-instructions" style="display:none;"></div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                                                    <label class="wsite-form-label" for="input-182318110265148677">Mật
                                                        khẩu mới <span class="form-required">*</span></label>
                                                    <div class="wsite-form-input-container">
                                                        <input id="input-182318110265148677"
                                                            class="wsite-form-input wsite-input wsite-input-width-370px"
                                                            type="text" name="_u182318110265148677">
                                                    </div>
                                                    <div id="instructions-182318110265148677"
                                                        class="wsite-form-instructions" style="display:none;"></div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                                                    <label class="wsite-form-label" for="input-110007393691978371">Xác
                                                        nhận mật khẩu mới <span class="form-required">*</span></label>
                                                    <div class="wsite-form-input-container">
                                                        <input id="input-110007393691978371"
                                                            class="wsite-form-input wsite-input wsite-input-width-370px"
                                                            type="text" name="_u110007393691978371">
                                                    </div>
                                                    <div id="instructions-110007393691978371"
                                                        class="wsite-form-instructions" style="display:none;"></div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div style="display:none; visibility:hidden;">
                                        <input type="text" name="wsite_subject">
                                    </div>
                                    <div style="text-align:left; margin-top:10px; margin-bottom:10px;">
                                        <input type="hidden" name="form_version" value="2">
                                        <input type="hidden" name="wsite_approved" id="wsite-approved" value="approved">
                                        <input type="hidden" name="ucfid" value="588089746848354203">
                                        <button type="submit" class="btn btn-success">Đổi mật khẩu </button>
                                    </div>
                                </form><iframe name="form-588089746848354203-target-1570339131420"
                                    id="form-588089746848354203-target-1570339131420" style="display: none;"></iframe>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <app-danhmucmonhoc></app-danhmucmonhoc>
        </div>
    </div>
</div>