<app-trangchu></app-trangchu>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="jumbotron">


        <div class="card-deck" *ngFor="let s of Subject | paginate: { itemsPerPage: 1, currentPage: 2}">
          <div class="card">
            <img src="../../assets/images/logos/{{s.Logo}}" class="card-img-center" width="100%" height="80%">
            <div class="card-body">
              <h5 class="card-title">{{s.Name}}</h5>
              <p class="card-text">{{s.Id}}</p>

            </div>
          </div>
          <div class="card" *ngFor="let s of Subject | paginate: { itemsPerPage: 3, currentPage: 4}">
            <img src="../../assets/images/logos/{{s.Logo}}" class="card-img-center" width="100%" height="80%">
            <div class="card-body">
              <h5 class="card-title">{{s.Name}}</h5>
              <p class="card-text-center">{{s.Id}}</p>

            </div>
          </div>
        </div>
        <br>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-sm" (click)="First">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="Previous()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="NextPage()">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="Last()">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-danhmucmonhoc></app-danhmucmonhoc>
    </div>
  </div>
</div>
<router-outlet></router-outlet>