<app-trangchu></app-trangchu>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="jumbotron">
        <div class="row">
          <div class="col-6">
            <div class="card-deck"
              *ngFor="let s of Subject | paginate: { itemsPerPage: ipp, currentPage: cp} ; odd as isOdd">
              <div class="card" *ngIf="isOdd">
                <a><img src="../../assets/images/logos/{{s.Logo}}" class="card-img-center" width="70%" height="50%"></a>
                <div class="card-body">
                  <a [routerLink]="['/test',s.Id]"><h5 class="card-title" >{{s.Name}}</h5></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card-deck"
              *ngFor="let s of Subject | paginate: { itemsPerPage: ipp, currentPage: cp} ;even as isEven">
              <div class="card" *ngIf="isEven">
                <a><img src="../../assets/images/logos/{{s.Logo}}" class="card-img-center" width="70%" height="50%"></a>
                <div class="card-body">
                  <a [routerLink]="['/test',s.Id]">
                    <h5 class="card-title" >{{s.Name}}</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <br>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-sm" (click)="First()">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="Previous()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="NextPage()">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="Last()">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-danhmucmonhoc></app-danhmucmonhoc>
    </div>
  </div>
</div>
<router-outlet></router-outlet>