<app-trangchu></app-trangchu>
<div class="container">
        <div class="row">
                <div class="col-9">
                        <form action="/action_page.php">
                                <label for="fname">Họ Và Tên</label>
                                <input type="text" id="name" name="name" placeholder="Nhập họ và tên...">

                                <label for="lname">Email</label>
                                <input type="text" id="email" name="email" placeholder="Nhập email...">

                                <label for="country">Tiêu Đề</label>
                                <input type="text" id="phone" name="phone" placeholder="Tiêu đề...">

                                <label for="body-field">Thắc Mắc Của Bạn</label>
                                <textarea id="body-field" name="body-field" class="form-control"
                                        placeholder="Cho xin cái thắc mắc đêiii..." required></textarea>

                                <input type="submit" value="Submit">
                        </form>
                </div>
                <div class="col-3">
                        <app-danhmucmonhoc></app-danhmucmonhoc>
                </div>
        </div>
</div>