<div class="head">
    <div class="card">
        <div class="card-header" style="background-color:rgb(226, 226, 226);">
          <p>Muatc</p>
          <p>Home</p>
          <p>Cart</p>
        </div>
      </div>
      <H5>Your Card</H5>
      <table class="table table-bordered">
        <thead>
            <tr style="background-color: grey;">
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quatity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr id="Img1">
                <th scope="row">pd100</th>
                <td><img src="https://zdnet1.cbsistatic.com/hub/i/r/2019/04/17/1f68c3a6-495e-4325-bc16-cc531812f0ec/thumbnail/770x433/84ff4194826e8303efb771cd377a854f/chuwi-herobook-header.jpg"></td>
                <td>Laptop</td>
                <td>30000</td>
                <td>3<button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button><button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>
                <td><button type="button" class="btn btn-primary" style="color: white;">View</button><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr id="Img2">
                <th scope="row">pd101</th>
                <td><img src="https://cdn.tmobile.com/content/dam/t-mobile/en-p/cell-phones/apple/apple-iphone-xr/blue/Apple-iPhoneXr-Blue-2-3x.jpg"></td>
                <td>Mobie</td>
                <td>54000</td>
                <td>5<button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button><button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>
                <td><button type="button" class="btn btn-primary" style="color: white;">View</button><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr id="Img3">
                <th scope="row">pd102</th>
                <td><img src="https://cdn.tgdd.vn/Products/Images/1942/162948/tivi-samsung-ua43n5500-13-550x340-550x340-550x340.jpg"></td>
                <td>Televison</td>
                <td>22000</td>
                <td>6<button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button><button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>
                <td><button type="button" class="btn btn-primary" style="color: white;">View</button><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr id="Img4">
                <th scope="row">pd103</th>
                <td><img src="https://images-na.ssl-images-amazon.com/images/I/51z376z5iBL._SL1200_.jpg"></td>
                <td>Headphone</td>
                <td>1300</td>
                <td>13<button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button><button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>
                <td><button type="button" class="btn btn-primary" style="color: white;">View</button><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th >Total Price</th>
                <td colspan="4"></td>
                <td style="text-align: right;">508900</td>
            </tr>
        </tbody>
    </table>
</div>