<div class="card">
    <div class="card-header">
        <h5>Leaf Rake</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text">
                    <p>Name:</p>
                    <p>Code:</p>
                    <p>Description:</p>
                    <p>Availability:</p>
                    <p>Price:</p>
                    <p>5 Star Rating:</p>
                </div>
                <div class="col-md-3">
                    <p>Leaf Rake</p>
                    <p>GDN-0011</p>
                    <p>Leaf Rake with 48-inch wooden handle.</p>
                    <p>March 19, 2016.</p>
                    <p>$19.95</p>
                    <p>3.2 </p>
                </div>
                <div class="col">
                    <img src="https://salt.tikicdn.com/cache/550x550/ts/product/53/db/a3/4d2a6adb46ada1567d97eec82c49bebc.jpg"
                        alt="Chưa cập nhật ảnh">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <i class="fa fa-arrow-left" style="font-size:24px"></i>
        <h5>Back</h5>  
    </div>
  </div>