<app-trangchu></app-trangchu>
<div class="container">
        <div class="row">
                <div class="col-9 jumbotron">
                        <article id="post-42" class="post-42 page type-page status-publish hentry">
                                <header class="entry-header">
                                       <h3 class="entry-title">Liên hệ thiết kế website</h3>
                                </header>
                                <div class="jumbotron">
                                        <p>Nếu bạn có bất cứ thắc mắc, ý kiến đóng góp hoặc câu hỏi gì khi sử dụng
                                                trang web, hãy liên lạc với tôi . Tôi sẽ hồi âm bạn sớm nhất có
                                                thể. Tôi luôn cố gắng trả lời tất cả những email gửi tới, cho nên nếu
                                                trong vòng 2 ngày bạn chưa nhận được hồi âm, rất có thể email của bạn đã
                                                bị thất lạc. Bạn vui lòng gửi lại email khác hoặc có thể liên hệ với tôi
                                                qua các con đường sau đây:<br>
                                                <strong>​Email: </strong>Chui-the-la-tao-ban-a@gmail.com<br>
                                                <strong>My Contact:</strong>0123456789</p>
                                </div>
                                <footer class="entry-footer"></footer>
                        </article>
                </div>
                <div class="col-3">
                        <app-danhmucmonhoc></app-danhmucmonhoc>
                </div>
        </div>
</div>